
body{
  margin: 0;
  height: 100%;
  width: 100%;
}
.style1 {
	border-top: 1px solid white;
}
.style2 {
	border-top: 1px dashed white;
  border-bottom: black;
}
.background{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -3;
}
.mobile{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.desktop{
    position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.header{
  width: 100%;
  height: 100%;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
   /* background-image: linear-gradient(to right, #c06c84 , #f67280 );
  /* background-color: #f67280; */
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 55%, 0 100%);
  /* -webkit-clip-path: polygon(57% 0, 100% 0, 44% 100%, 0 100%); */


  position: absolute;
  z-index: -1;
  text-align: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.block1{
  position: absolute;
  height: 10px;
  width: 250px;
  background-color: white;
  opacity: 1;
  animation: zip 6s ease-in-out infinite;
}
.spacer{
  position: relative;
  height: 100vh;
}
.heading{
  position: relative;
  width: 40%;
  margin: 0 auto 0 auto;
}
.black1text{
  position: relative;
  top:-20px;
  color:red;
  z-index: 1;
}

.header1{
  position: relative;
  font-family: "Monoton", sans-serif;
  font-size: 4rem;
  color: white;
  margin-top: 48px;
  margin-bottom: 10px;
  text-shadow: 5px 5px 1px white;
}
.header2, .header3{
  color: white;
  text-align: center;
  font-family: "Rokkitt", sans-serif;
  font-size: 1.5rem;
}

.flexbox1{
  margin-top: 100px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
}
.iconone{
  height: 150px;
  width:150px;
  border: 2px solid white;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 0 20px 5px white;
}
.iconimg{
  position: relative;
  width: 100%;
}
.icontxt{
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 1.2erm;
}

.schedule{
  position:relative;
  width:70%;
  margin: 0 auto 0 auto;
  background-color: rgb(0,0,0,0.5);
  border: 2px solid #23a6d5;
  box-shadow: 0 0 15px 5px #23a6d5;
  border-radius: 20px;
  text-align: center;
  animation: change 15s ease infinite ;
  margin-bottom: 100px;
}

@keyframes change {
  0%{  box-shadow: 0 0 15px 5px #23a6d5; border-color: #23a6d5;}
  50%{  box-shadow: 0 0 15px 5px #e73c7e; border-color: #e73c7e;}
  100%{ box-shadow: 0 0 15px 5px #23a6d5; border-color: #23a6d5;}
}
.schedulehead{
  color:white;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
}
.listitem{
  color:white;
  font-size: 1.1rem;
  font-family: "Varela Round", sans-serif;
}
















@media (max-width: 800px) {
  .header{
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
  }
  .header1{
      font-size: 2.5rem;
  }
  .heading{
    width: 95%;
  }
  .flexbox1{
    margin-top: 50px;
  }
  .iconone{
    width:100px;
    height: 100px;
  }
  .mobile{
    opacity: 1;
  }
  .desktop{
    opacity: 0;
  }
  .schedulehead{
    font-size: 1.5rem;
  }
}
