html{
  height: 100%;
  width:100%;
}
body{
  height: 100%;
  width:100%;
  margin: 0;
}

.FirstSection{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  text-align: center;
  overflow: hidden;
}
.Welcomeanimation{
  position: relative;
  height: 70px;
  width:320px;
  background-color: white;
  margin: 0 auto 0 auto;
  top: 50%;
  transform: translate(0,-50px);
  text-align: center;
  overflow: hidden;
}
.blockone{
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: black;
  bottom: -200px;
  animation: UP 1.5s ease 1s forwards;
}
@keyframes UP {
  from{transform: translate(0);}
    to{transform: translate(0,-300px);}
}
.blocktwo{
  position: absolute;
  height: 100px;
  width: 600px;
  background-color: black;
  left:-600px;
  animation: LEFT 2.2s ease-in-out 2s forwards;
}
@keyframes LEFT {
  from{transform: translate(0);}
    to{transform: translate(1000px);}
}
.blockthree{
  position: absolute;
  height: 100px;
  width: 600px;
  background-color: black;
  right:-600px;
  z-index: -2;
    animation: RIGHT 3s ease 4s forwards;
}
@keyframes RIGHT {
  from{transform: translate(0);}
    to{transform: translate(-920px);}
}
.blockfour{
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: #bbbbbb;
  bottom: -200px;
  animation: under 1.5s ease 6.5s forwards;
}
@keyframes under {
  from{transform: translate(0);}
  to{transform: translate(0,-5px);}
}
.textwelcome{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  opacity: 1;
}

.text1{
  opacity: 0;
animation: text 1.5s linear 1.3s forwards;
}

.text2{
  opacity: 0;
animation: text 1.5s linear 3.2s forwards;
}
.text3{
  opacity: 0;
animation: text1 0.1s linear 4.7s forwards;
}
.text3::first-letter{
  color: #bbbbbb;
  font-weight: bold;
}

@keyframes text {
0%{opacity: 1;}
98%{opacity: 1;}
100%{opacity: 0;}
}
@keyframes text1 {
from{opacity: 0;}
to{opacity: 1;}
}
.location{
  position: absolute;
  font-size: 1rem;
  color: black;
  top: 50px;
  right: 50px;
  font-family: "Quicksand", sans-serif;
  animation: location 1s ease-in 6s forwards;
  opacity: 0;
}
@keyframes location {
  from{opacity: 0;}
  to{opacity: 1;}
}
.arrow{
  position: absolute;
  margin: 0 auto 0 auto;
  bottom: 100px;
  height: 40px;
  width:100px;
  left: 50%;
  transform: translate(-50px);
  background-color: #bbbbbb;
  clip-path: polygon(50% 75%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
  animation: fadeinarrow 1s ease-in-out 6s 4 forwards;
  opacity: 0;
}
@keyframes fadeinarrow {
  from{opacity: 0;}
  to{opacity: 1;}
}
.icon1{
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 20px;
}
.icon2{
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 20px;
}
.Section1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.Head{
  position: relative;
  width: 300px;
  text-align: center;
  overflow: hidden;
}
.Head11{
  position: relative;
  width: 350px;
  text-align: center;
  overflow: hidden;
}
.aboutheading1{
  color: white;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
    margin:0;
}
.aboutheading2{
  color: black;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
    margin:0;
}
.underline1{
  position: absolute;
  height: 2px;
  width:200px;
  bottom: 0;
  background: #bbbbbb;
  animation: side 5s ease-in-out infinite alternate;
}
.underline2{
  position: absolute;
  height: 2px;
  width:200px;
  bottom: 0;
  background: black;
  animation: side 5s ease-in-out infinite alternate;
}
@keyframes side {
 from{transform: translate(-190px);}
 to{transform: translate(290px);}
}
.aboutheading::first-letter{
  color:#bbbbbb;
  font-weight: bold;
}
.aboutusinfo{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
.Section2{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 20px;
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}
.head2{
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: overline;
}
.head1{
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: overline;
}
.head11{
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: overline;
  margin-bottom: 5px;
  margin-top: 25px;
}
.cont1{
  text-align: center;
}
.cont2{
  text-align: center;
}

.listitem1{
  color: black;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin:5px;
  text-align: left;
}
.listitem2{
  color: white;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin:5px;
  text-align: center;
}
.listitem::before{
  content: " - "
}
.footer{
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  text-align: center;
  margin:0;
}
.visible{
  opacity: 0;
}
.ani1{

}
.ani1 path:nth-child(1){
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  animation: ani 1.3s ease forwards;
}
.ani1 path:nth-child(2){
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  animation: ani 1.3s ease 0.2s forwards;
}
.ani1 path:nth-child(3){
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation: ani 1.3s ease 0.4s forwards;
}
.ani1 path:nth-child(4){
  stroke-dasharray: 430px;
  stroke-dashoffset: 430px;
  animation: ani 1.3s ease 0.8s forwards;
}
.ani1 path:nth-child(5){
  stroke-dasharray: 350px;
  stroke-dashoffset: 350px;
  animation: ani 1.3s ease 1s forwards;
}
.ani1 path:nth-child(6){
  stroke-dasharray: 490px;
  stroke-dashoffset: 490px;
  animation: ani 1.3s ease 1.2s forwards;
}
.ani1 path:nth-child(7){
  stroke-dasharray: 420px;
  stroke-dashoffset: 420px;
  animation: ani 1.3s ease 1.4s forwards;
}

.memandawa{

}
.memandawa path:nth-child(1){
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px;
    animation: ani ease forwards;
}
.memandawa path:nth-child(2){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.1s forwards;
}
.memandawa path:nth-child(3){
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
    animation: ani 1.3s ease 0.2s forwards;
}
.memandawa path:nth-child(4){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.3s forwards;
}
.memandawa path:nth-child(5){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.4s forwards;
}
.memandawa path:nth-child(6){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.5s forwards;
}
.memandawa path:nth-child(7){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.6s forwards;
}
.memandawa path:nth-child(8){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.7s forwards;
}
.memandawa path:nth-child(9){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 0.8s forwards;
}
.memandawa path:nth-child(10){
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
    animation: ani 1.3s ease 0.9s forwards;
}
.memandawa path:nth-child(11){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 1s forwards;
}
.memandawa path:nth-child(12){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 1.1s forwards;
}
.memandawa path:nth-child(13){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 1.2s forwards;
}
.memandawa path:nth-child(14){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
    animation: ani 1.3s ease 1.3s forwards;
}

.month{

}
.month path:nth-child(1){
  stroke-dasharray: 760px;
  stroke-dashoffset: 760px;
      animation: ani 1.3s ease forwards;
}
.month path:nth-child(2){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.1s forwards;
}
.month path:nth-child(3){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.2s forwards;
}
.month path:nth-child(4){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.3s forwards;
}
.month path:nth-child(5){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.4s forwards;
}
.month path:nth-child(6){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.5s forwards;
}
.month path:nth-child(7){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.6s forwards;
}
.month path:nth-child(8){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.7s forwards;
}
.month path:nth-child(9){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.8s forwards;
}
.month path:nth-child(10){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 0.9s forwards;
}
.month path:nth-child(11){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 1s forwards;
}
.month path:nth-child(12){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 1.1s forwards;
}
.month path:nth-child(13){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 1.2s forwards;
}
.month path:nth-child(14){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
      animation: ani 1.3s ease 1.3s forwards;
}
.month path:nth-child(15){
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: ani 1.3s ease 1.4s forwards;
}



@keyframes ani {
  to{
    stroke-dashoffset: 0;
  }
}











@media (max-width:800px) {
  .aboutusinfo{
    width:85%;
  }
  .cont1{
    width: 90%;
  }
  .cont2{
    width: 90%;
  }
  .location{
    top: 20px;
    right: 20px
  }
}
