html{
  height: 100%;
  width:100%;
}
body{
  height: 100%;
  width:100%;
  margin: 0;
}

.FirstSection{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}
.Welcomeanimation{
  position: relative;
  height: 70px;
  width:320px;
  background-color: white;
  margin: 0 auto 0 auto;
  top: 50%;
  transform: translate(0,-50px);
  text-align: center;
  overflow: hidden;
}
.blockone{
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: black;
  bottom: -200px;
  animation: UP 1.5s ease 1s forwards;
}
@keyframes UP {
  from{transform: translate(0);}
    to{transform: translate(0,-300px);}
}
.blocktwo{
  position: absolute;
  height: 100px;
  width: 600px;
  background-color: black;
  left:-600px;
  animation: LEFT 2.2s ease-in-out 2s forwards;
}
@keyframes LEFT {
  from{transform: translate(0);}
    to{transform: translate(1000px);}
}
.blockthree{
  position: absolute;
  height: 100px;
  width: 600px;
  background-color: black;
  right:-600px;
  z-index: -2;
    animation: RIGHT 3s ease 4s forwards;
}
@keyframes RIGHT {
  from{transform: translate(0);}
    to{transform: translate(-920px);}
}
.blockfour{
  position: absolute;
  height: 200px;
  width: 400px;
  background-color: #bbbbbb;
  bottom: -200px;
  animation: under 1.5s ease 6.5s forwards;
}
@keyframes under {
  from{transform: translate(0);}
  to{transform: translate(0,-5px);}
}
.textwelcome{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100%;
  width: 100%;
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  opacity: 1;
}

.text1{
  opacity: 0;
animation: text 1.5s linear 1.3s forwards;
}

.text2{
  opacity: 0;
animation: text 1.5s linear 3.2s forwards;
}
.text3{
  opacity: 0;
animation: text1 0.1s linear 4.7s forwards;
}
.text3::first-letter{
  color: #bbbbbb;
  font-weight: bold;
}

@keyframes text {
0%{opacity: 1;}
98%{opacity: 1;}
100%{opacity: 0;}
}
@keyframes text1 {
from{opacity: 0;}
to{opacity: 1;}
}
.icon1{
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  margin-top: 20px;
}
.icon2{
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 20px;
}
.Section1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.Head{
  position: relative;
  width: 300px;
  text-align: center;
  overflow: hidden;
}
.aboutheading1{
  color: white;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
    margin:0;
}
.aboutheading2{
  color: black;
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
    margin:0;
}
.underline1{
  position: absolute;
  height: 2px;
  width:200px;
  bottom: 0;
  background: #bbbbbb;
  animation: side 5s ease-in-out infinite alternate;
}
.underline2{
  position: absolute;
  height: 2px;
  width:200px;
  bottom: 0;
  background: black;
  animation: side 5s ease-in-out infinite alternate;
}
@keyframes side {
 from{transform: translate(-190px);}
 to{transform: translate(290px);}
}
.aboutheading::first-letter{
  color:#bbbbbb;
  font-weight: bold;
}
.aboutusinfo{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  text-align: center;
}
.Section2{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 20px;
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}
.head2{
  color: black;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: overline;
}
.head1{
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: overline;
}
.head11{
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  text-decoration: overline;
  margin-bottom: 5px;
  margin-top: 25px;
}
.cont1{
  text-align: center;
}
.cont2{
  text-align: center;
}

.listitem1{
  color: black;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin:5px;
  text-align: left;
}
.listitem2{
  color: white;
  font-size: 1.2rem;
  font-family: "Quicksand", sans-serif;
  margin:5px;
  text-align: center;
}
.listitem::before{
  content: " - "
}






@media (max-width:800px) {
  .aboutusinfo{
    width:85%;
  }
  .cont1{
    width: 90%;
  }
  .cont2{
    width: 90%;
  }
}
